{% extends "restaurants/base.html" %} {% load static %}

{% block content %}
<section class="login_main d-block" style="margin-bottom: 160px;">
    <div class="container-fluid">
        <div class="row h-100 align-items-center">
            <div class="col-md-6 h-100 order-md-1 order-2 p-0">
                <div class="h-100">
                    <div class="d-flex flex-column h-100 py-5 px-4 p-md-5 justify-content-center w-100 align-items-start gap-4">
                        <div class="d-flex flex-column gap-2">
                            <h1>Password Reset Complete</h1>
                            <p>Your password has been set. You may go ahead and log in now.</p>
                        </div>
                        <div class="d-flex flex-column gap-3 w-100">
                            <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                                <a class="primary_btn" href="{% url 'login' restaurant_slug=restaurant_slug %}">Log In</a>
                                <a class="guest_btn" href="{% url 'restaurant_landing_page' restaurant_slug %}">Return to Homepage</a>
                            </div>
                        </div>
                    </div>
                    <span class="d-md-block d-none ps-4">Version 2.2.2</span>
                </div>
            </div>
            <div class="col-md-6 h-100 p-md-4 p-0 order-md-2 order-1">
                <div class="d-block h-100 login_banner">
                    <img class="w-100 h-100" src="{{ restaurant.landing_page_image.url }}" alt="login banner" />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}